<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SWAIF MEV" Language="1033" Version="$(var.Version)" Manufacturer="SWAIF" UpgradeCode="12345678-1234-1234-1234-1234567890ab">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate />
    <Feature Id="ProductFeature" Title="SWAIF MEV" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SwaifMev" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File Source="README.md" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
